<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/adminStyle.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var currentUrl = window.location.origin + window.location.pathname;
            if (selectedOption != '') {
                window.location.replace(currentUrl + '?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 class="adminPanel" th:text="#{infoAdminPanel}"></h1>
    <h2 th:text="#{infoListAllUsers}"></h2>
    <form style="float: left;" class="formAllUsersInfo" method="POST" th:action="@{/admin/allUsers}" th:object="${users}">
        <ul th:each="user : ${users}">
            <li style="float: left;"> <h4 th:text="#{paramUserIdAllUser}"></h4>
                <h4><span style="color: olivedrab" th:text="${user.userId}"></span></h4>
                <h4 th:text="#{paramEmail}"></h4>
                <h4><span style="color: olivedrab" th:text="${user.email}"></span></h4>
                <h4 th:text="#{paramRoles}"></h4>
                <h4><span style="color: olivedrab" th:text="${user.roles}"></span></h4>
                <h4 th:text="#{paramRegStatus}"></h4>
                <h4>Status: <span style="color: olivedrab" th:text="${user.registrationStatus}"></span></h4>
                <a class="btnInfoAboutUser" th:href="@{/admin/user/{userId}(userId=${user.userId})}" th:text="#{userInfoBtn}"></a>
            </li>
        </ul>
    </form>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>