<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User roles for Admin</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/adminStyle.css}">
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 class="adminPanel">Admin panel</h1>
    <form style="float: left;" class="formInfoAdmin" method="POST" th:action="@{'/admin/user/editRole/' + ${userId}}" th:object="${updateUserAccountRequest}">
        <h3 class="infoAboutUser">Info about user <span style="color: red" th:text="${updateUserAccountRequest.email}"></span></h3>
        <h3>UserId: <span style="color: yellowgreen" th:text="${updateUserAccountRequest.userId}"></span></h3>
        <h3>Roles: <span style="color: yellowgreen" th:text="${updateUserAccountRequest.roles}"></span></h3>
        <label style="font-size: 19px">Choose are roles:</label><br>
            <input class="checkbox" type="checkbox" name="roles"
                   th:each="role : ${listRoles}"
                   th:text="${role.role}"
                   th:value="${role.role}"
            /><br>
        <button type="submit">Edit roles</button>
    </form>

</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>