@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,500&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	background: #e6e6ff;
}

header .logo {
    float: left;
    margin-left: 10px;
    top: 10px;
    color: #222;
    font-weight: 600;
    font-size: 35px;
    text-decoration: none;
}

header nav a {
    float: right;
    margin-left: 15px;
    width: 140px;
    height: 20px;
    color: black;
    border-radius: 30px;
    padding: 10px 10px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-decoration: none;
}

header nav a:hover {
     webkit-transform: scale(1.2);
     ms-transform: scale(1.2);
     transform: scale(1.2);
     color: #33adff;
}

.myAccountBtn {
    background: deepskyblue;
    color: #222222;
}

.formInfo h3 {
    display: inline-block;
    width: 280px;
    left: 10px;
    margin-left: 10px;
    font-size: 17px;
}

.formInfo span {
    display: inline-block;
    margin-left: -90px;
    font-size: 17px;
}

.formInfo {
    display: block;
    width: 600px;
    padding-left: 15px;
    left: 10px;
    text-align: left;
}

.mainParams {
    border-radius: 5px;
    border-color: darkgrey;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 15px;
}

.mainParams h3 span {
    color: yellowgreen;
}

.formCourseInfo {
    border-radius: 5px;
    border-color: darkgrey;
    border: 1px solid;
    display: block;
    width: 600px;
    margin-left: 20px;
    padding-left: 15px;
    left: 10px;
}

.courseLinkInfo {
    text-decoration: none;
}

h2 {
    display: inline-block;
    margin-left: 10px;
}

.formCourseInfo h3 {
    position: absolute;
    margin-left: 15px;
    margin-top: 0px;
}

.myAccountBtn:hover {
    color: white;
}

.adminAccount {
    background: green;
}

.teacherAccount {
    background: yellowgreen;
}

.studentAccount {
    float: right;
    margin-left: 15px;
    width: 140px;
    height: 20px;
    color: black;
    border-radius: 30px;
    padding: 10px 10px;
    font-size: 15px;
    background: yellow;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-decoration: none;
    text-align: center;
}

.studentAccount:hover {
    webkit-transform: scale(1.2);
    ms-transform: scale(1.2);
    transform: scale(1.2);
    color: saddlebrown;
}

.logOutBtn {
    float: right;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 2px;
    width: 100px;
    height: 40px;
    color: black;
    border-radius: 30px;
    padding: 10px 10px;
    font-size: 15px;
    background: red;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-decoration: none;
}

.logOutBtn:hover {
    webkit-transform: scale(1.2);
    ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #33adff;
}

header .container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
}

.logOut {
    background: red;
}

form input {
    width: 300px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid silver;
    font-family: 'Montserrat', sans-serif;
    display: block;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

registration h1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
	font-family: 'Montserrat', sans-serif;
}

form button {
    margin: 10px;
    margin-top: 20px 15px;
    padding: 10px 25px;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: red;
    transition: background 500ms ease;
}

form button:hover {
    background: #934434;
}

.container {
    display: block;
    text-align: center;
}

.btnEditInfo {
    padding: 10px 25px;
    border: 0;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    background: red;
    transition: background 500ms ease;
    text-decoration: none;
    margin-left: 250px;
}

.btnEditInfo:hover {
    webkit-transform: scale(1.2);
    ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: background 500ms ease;
    background: darkgreen;
}

.langBox {
    float: right;
}

footer {
    float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}