<header class="container" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header"
        xmlns:spring="http://www.w3.org/1999/XSL/Transform">
    <a class="logo" href="/">University</a><br>
    <div class="currentData">
        <form method="GET" th:action="@{/}" th:object="${dataService}"></form>
        <h1 th:text="#{elementonpage.todaymessage}"></h1>
        <h1 th:text="${dateService}"></h1>
    </div>
    <div class="langBox">
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value=""></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="ua" th:text="#{lang.ua}"></option>
        </select>
    </div>
    <br><br>
    <nav>
        <a href="/" th:text="#{button.mainpage}"></a>
        <a href="/about" th:text="#{button.aboutus}"></a>
        <span class="auth">
            <a href="/login" th:text="#{button.login}"></a>
            <a href="/registration" th:text="#{button.signup}"></a>
    </span><br><br><br>

        <span sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <button class="logOutBtn" type="submit" th:text="#{button.logout}"></button>
                <a class="myAccountBtn" href="/user" th:text="#{button.myaccount}"></a>
            </form>
                <span sec:authorize="hasAuthority('ADMIN')">
                    <form method="post" th:action="@{/logout}">
                    <a class="adminAccount" href="/admin" th:text="#{button.admin}"></a>
                    </form>
                </span>
                <span sec:authorize="hasAnyAuthority('MODERATOR', 'ADMIN')">
                    <form method="post" th:action="@{/logout}">
                    <a class="moderatorAccount" href="/user/moderator" th:text="#{button.moderator}"></a>
                    </form>
                </span>
                <span sec:authorize="hasAuthority('TEACHER')">
                    <form method="post" th:action="@{/logout}">
                    <a class="teacherAccount" th:href="@{/teacher}" th:text="#{button.teacher}"></a>
                    </form>
                </span>
        </span>
    </nav>
</header>