@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    background: #e6e6ff;
}

.adminPanel {
    color: red;
}

.formInfoAdmin {
    border-radius: 5px;
    display: block;
    width: 600px;
    margin-left: 20px;
    padding-left: 15px;
    left: 10px;
    text-align: left;
}
.formInfoAdmin h3 {
    display: inline-block;
    width: 200px;
    left: 10px;
    margin-left: 10px;
    font-size: 17px;
}
.formInfoAdmin h3 span {
    background: transparent;
    display: inline-block;
    margin-left: -20px;
    font-size: 17px;
}

.mainParamsAdmin {
    border-radius: 5px;
    border-color: darkgrey;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 15px;
}

.mainParamsAdmin h3 span {
    width: 600px;
    color: yellowgreen;
}

.formAllUsersInfo span {
    background: darkgrey;
}

.formAllUsersInfo h4 {
    background: darkgrey;
    display: inline;
    float: left;
    margin-left: 15px;
    margin-top: 3px;
}

.formAllUsersInfo li {
    background: darkgrey;
    width: 1800px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    border-radius: 10px;
}

.btnInfoAboutUser {
    margin-right: 55px;
    float: right;
    padding: 10px 25px;
    border: 0;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    background: cornflowerblue;
    transition: background 500ms ease;
    text-decoration: none;
}

.btnInfoAboutUser:hover {
    webkit-transform: scale(1.2);
    ms-transform: scale(1.2);
    transform: scale(1.2);
    color: snow;
    transition: all 0.3s ease;
}

.infoAboutUser {
    color: darkgreen;
    font-size: 35px;
}

.btnEditRolesAdmin {
    padding: 10px 25px;
    border: 0;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    background: red;
    transition: background 500ms ease;
    text-decoration: none;
    display: inline;
}

.btnEditRolesAdmin:hover {
    webkit-transform: scale(1.2);
    ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: background 500ms ease;
    background: darkgreen;
}

.btnAllUsers {
    padding: 50px 50px;
    border: 6px solid darkgrey;
    border-radius: 15px;
    color: snow;
    font-size: 20px;
    cursor: pointer;
    background: mediumseagreen;
    transition: background 500ms ease;
    text-decoration: none;
    display: inline;
    float: left;
    margin-left: 50px;
}

.btnAllUsers:hover {
    webkit-transform: scale(1.1);
    ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: background 900ms ease;
    border-color: darkgreen;
}

.checkbox {
    width: 100px;
    height: 15px;
    margin-left: 170px;
    vertical-align: middle;
    position: relative;
    top: 20px;
}

.chooseRoles {
    margin-left: 150px;
}

.btnEditInfoAdmin {
    padding: 10px 25px;
    border: 0;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    background: red;
    transition: background 500ms ease;
    text-decoration: none;
    margin-left: -30px;
}

.btnAllGroups {
    padding: 50px 50px;
    border: 6px solid darkgrey;
    border-radius: 15px;
    color: snow;
    font-size: 20px;
    cursor: pointer;
    background: mediumseagreen;
    transition: background 500ms ease;
    text-decoration: none;
    display: inline;
    float: left;
    margin-left: 50px;
}

.btnAllGroups:hover {
    webkit-transform: scale(1.1);
    ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: background 900ms ease;
    border-color: darkgreen;
}

.formAllGroupsInfo span {
    background: darkgrey;
}

.formAllGroupsInfo h4 {
    background: darkgrey;
    display: inline;
    float: left;
    margin-left: 15px;
    margin-top: 3px;
}

.formAllGroupsInfo li {
    background: darkgrey;
    width: 1800px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    border-radius: 10px;
}

.btnInfoAboutGroup {
    margin-right: 55px;
    float: right;
    padding: 10px 25px;
    border: 0;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    background: cornflowerblue;
    transition: background 500ms ease;
    text-decoration: none;
}

.btnInfoAboutGroup:hover {
    webkit-transform: scale(1.2);
    ms-transform: scale(1.2);
    transform: scale(1.2);
    color: snow;
    transition: all 0.3s ease;
}

.infoAboutGroup {
    color: darkgreen;
    font-size: 35px;
}

.btnChangeNameOfGroup {
    padding: 10px 25px;
    border: 0;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    background: red;
    transition: background 500ms ease;
    text-decoration: none;
    display: inline;
}
