<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Teacher page</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/teacherStyle.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var currentUrl = window.location.origin + window.location.pathname;
            if (selectedOption != '') {
                window.location.replace(currentUrl + '?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 th:text="#{infoTeacherPanel}"></h1>
    <form style="float: left;" class="formInfoTeacher" method="POST" th:action="@{/teacher}" th:object="${teacherUpdateRequest}">
        <div class="mainParams">
            <h3 th:text="#{paramDegree}"></h3>
            <h3><span style="color: yellowgreen" th:text="${teacherUpdateRequest.degree}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramPhoneNumber}"></h3>
            <h3><span style="color: yellowgreen" th:text="${teacherUpdateRequest.phoneNumber}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramDiplomaStudents}"></h3>
            <h3><span style="color: yellowgreen" th:text="${teacherUpdateRequest.diplomaStudents}"></span></h3>
        </div>
    </form>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>