<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/adminStyle.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var currentUrl = window.location.origin + window.location.pathname;
            if (selectedOption != '') {
                window.location.replace(currentUrl + '?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 class="adminPanel" th:text="#{infopage.welcomeadmpanel}"></h1>
    <h2 th:text="#{elementonpage.hellomessage}"></h2>
    <h2 style="color: red" ><span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h2><br>
    <a class="btnAllUsers" th:href="@{/admin/users}" th:text="#{infopage.listallusers}"></a>
    <a class="btnAllGroups" th:href="@{/admin/groups}" th:text="#{infopage.listallgroups}"></a>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>