<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User roles for Admin</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/adminStyle.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var currentUrl = window.location.origin + window.location.pathname;
            if (selectedOption != '') {
                window.location.replace(currentUrl + '?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 class="adminPanel" th:text="#{infopage.adminpanel}"></h1>
    <form style="float: left;" class="formInfoAdmin" method="POST" th:action="@{'/admin/users/' + ${userId} + '/roles'}" th:object="${updateUserAccountRequest}">
        <div class="mainParamsAdmin">
            <h3 class="infoAboutUser" th:text="#{infopage.aboutuser}"></h3>
            <h3><span style="color: red" th:text="${updateUserAccountRequest.email}"></span></h3>
        </div>
        <div class="mainParamsAdmin">
            <h3 th:text="#{paramname.useridadm}">UserId: <span style="color: yellowgreen"
                                                               th:text="${userAccount.userId}"></span></h3>
            <h3><span style="color: yellowgreen" th:text="${updateUserAccountRequest.userId}"></span></h3>
        </div>
        <div class="mainParamsAdmin">
            <h3 th:text="#{paramname.roles}"></h3>
            <h3><span style="color: yellowgreen" th:text="${updateUserAccountRequest.roles}"></span></h3>
        </div>
        <div class="chooseRoles">
            <label style="font-size: 25px" th:text="#{infopage.chooseroles}"></label><br>
            <input class="checkbox" type="checkbox" name="roles"
                   th:each="role : ${listRoles}"
                   th:text="${role.role}"
                   th:value="${role.role}"
            /><br>
            <button type="submit" th:text="#{button.editroles}"></button>
        </div>
    </form>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>