<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 class="adminPanel">Welcome to admin panel</h1>
    <h2 th:inline="text">Hello, <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h2>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>