<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('/user?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 th:text="#{greetingYourAcc}"></h1>
    <h2 th:text="#{helloMessage}"></h2>
    <h2 style="color: limegreen" ><span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h2><br>
    <form style="float: left;" class="formInfo" method="POST" th:action="@{/user}" th:object="${userUpdateRequest}">
        <div class="mainParams">
            <h3 th:text="#{paramUserId}"></h3>
            <h3><span style="color: yellowgreen" th:text="${userUpdateRequest.userId}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramFirstName}"></h3>
            <h3><span style="color: yellowgreen" th:text="${userUpdateRequest.firstName}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramLastName}"></h3>
            <h3><span style="color: yellowgreen" th:text="${userUpdateRequest.lastName}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramEmail}"></h3>
            <h3><span style="color: yellowgreen" th:text="${userUpdateRequest.email}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramRoles}"></h3>
            <h3><span style="color: yellowgreen" th:text="${userUpdateRequest.roles}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramRegStatus}"></h3>
            <h3><span style="color: yellowgreen" th:text="${userUpdateRequest.registrationStatus}"></span></h3>
        </div>
        <a class="btnEditInfo" th:text="#{editMyDataBtn}"
           th:href="@{/user/editData/{userId}(userId=${userUpdateRequest.userId})}"></a>
    </form>

    <form style="float: left;" class="formCourseInfo" method="POST" th:action="@{/user}" th:object="${courses}">
        <h2 style="color:darkgreen" th:text="#{infoCourses}"></h2>
        <ul th:each="course : ${courses}">
            <li><h3><a class="courseLinkInfo" style="color: yellowgreen" th:text="${course.courseName}"
                       th:href="@{/course/info/{userId}(userId=${course.courseId})}"></a></h3></li>
        </ul>
    </form>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>