<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('/registration?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<header th:replace="~{layouts/header :: header}"></header><br><br><br>
<main class="container">
    <h1 th:text="#{elementonpage.greetingreg}"></h1>
  <form method="post" th:action="@{/registration}" th:object="${userRegRequest}">
    <input th:value="*{firstName}" type="text" class="form-control" id="firstName" name="firstName" th:placeholder="#{placeholder.firstname}"><br>
    <input th:value="*{lastName}" type="text" class="form-control" id="lastName" name="lastName" th:placeholder="#{placeholder.lastname}"><br>
    <input th:value="*{email}" type="text" class="form-control" id="email" name="email" th:placeholder="#{placeholder.email}"><br>
    <input th:value="*{password}" type="password" class="form-control" id="password" name="password" th:placeholder="#{placeholder.password}"><br>
    <input th:value="*{passwordCheck}" type="password" class="form-control" id="passwordCheck" name="passwordCheck" th:placeholder="#{placeholder.passwordcheck}"><br>
    <button type="submit" th:text="#{button.register}"></button>
  </form>
</main>
</body>
</html>
