<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User page for Admin</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/courseStyle.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var currentUrl = window.location.origin + window.location.pathname;
            if (selectedOption != ''){
                window.location.replace(currentUrl + '?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 th:text="#{infopage.course}"></h1>
    <form style="float: left;" class="formCourseInfoPage" method="GET" th:action="@{'/course/info/' + ${courseId}}" th:object="${course}">
        <div class="mainParams">
            <h3 th:text="#{paramname.courseid}"></h3>
            <h3><span style="color: yellowgreen" th:text="${course.courseId}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramname.coursename}"></h3>
            <h3><span style="color: yellowgreen" th:text="${course.courseName}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramname.coursedescription}"></h3>
            <h3><span style="color: yellowgreen" th:text="${course.courseDescription}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramname.courseteachers}"></h3>
            <h3><span style="color: yellowgreen" th:text="${course.teachers}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramname.numberofseats}"></h3>
            <h3><span style="color: yellowgreen" th:text="${course.numberOfSeats}"></span></h3>
        </div>
        <div class="mainParams">
            <h3 th:text="#{paramname.seatsavailable}"></h3>
            <h3><span style="color: yellowgreen" th:text="${course.seatsAvailable}"></span></h3>
        </div>
    </form>
    <span sec:authorize="hasAuthority('STUDENT')">
                    <form method="post" th:action="@{'/course/info/' + ${courseId}}">
                        <button class="enterCourseBtn" th:text="#{button.enrollacourse}"></button>
                    </form>
                </span>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>