<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Teacher courses page</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/teacherStyle.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var currentUrl = window.location.origin + window.location.pathname;
            if (selectedOption != '') {
                window.location.replace(currentUrl + '?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 th:text="#{infopage.teacherpanel}"></h1>
    <h2 th:text="#{infopage.mycourses}"></h2><br>
    <form style="float: left;" class="formCourseInfo" method="POST" th:action="@{/teacher/courses}" th:object="${teacher}">
        <h2 style="color:darkgreen" th:text="#{infopage.courses}"></h2>
        <ul th:each="course : ${courseService.getCoursesTeacher(teacher.userId)}">
            <li><h3><a class="courseLinkInfo" style="color: yellowgreen" th:text="${course.courseName}"
                       th:href="@{/teacher/courses/{courseId}(courseId=${course.courseId})}"></a></h3></li>
        </ul>
    </form>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>