<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All groups for Moderator</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/adminStyle.css}">
    <link rel="stylesheet" th:href="@{/moderatorStyle.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var currentUrl = window.location.origin + window.location.pathname;
            if (selectedOption != '') {
                window.location.replace(currentUrl + '?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 class="moderatorPanel" th:text="#{infopage.moderatorpanel}"></h1>
    <h2 th:text="#{infopage.listallgroups}"></h2><br>
    <form style="float: left;" class="formAllGroupsInfo" method="POST" th:action="@{/moderator/groups}" th:object="${groups}">
        <ul th:each="group : ${groups}">
            <li style="float: left;"> <h4 th:text="#{paramname.groupid}"></h4>
                <h4><span style="color: olivedrab" th:text="${group.groupId}"></span></h4>
                <h4 th:text="#{paramname.groupname}"></h4>
                <h4><span style="color: olivedrab" th:text="${group.groupName}"></span></h4>
                <h4 th:text="#{paramname.countstudent}"></h4>
                <h4><span style="color: olivedrab" th:text="${group.countStudents}"></span></h4>
                <a class="btnInfoAboutGroup" th:href="@{/moderator/groups/{groupId}(groupId=${group.groupId})}" th:text="#{button.groupinfo}"></a>
            </li>
        </ul>
    </form>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>