<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/moderatorStyle.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var currentUrl = window.location.origin + window.location.pathname;
            if (selectedOption != '') {
                window.location.replace(currentUrl + '?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<br><br><br>
<main class="container">
    <h1 class="moderatorPanel" th:text="#{infopage.welcomemoderpanel}"></h1>
    <h1 th:text="#{infopage.course}"></h1>

    <form style="float: left;" class="formCourseInfo" method="POST" th:action="@{/user/moderator/courses}"
          th:object="${allCourses}">
        <h2 style="color:darkgreen" th:text="#{infopage.courses}"></h2>
        <ul>
            <li th:each="course : ${allCourses}">
                <h3>
                    <a class="courseLinkInfo" style="color: yellowgreen"
                       th:text="${course.courseName}"
                       th:href="@{/course/info/{userId}(userId=${course.courseId})}"></a>
                </h3>
                <form th:action="@{/user/moderator/courses}" method="post">
                    <input type="hidden" th:name="courseId" th:value="${course.courseId}">
                    <button type="submit" class="removeCourse" th:text="#{button.removecourse}"></button>
                </form>
            </li>
        </ul>
    </form>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>